.container {
  display: flex;
  flex-wrap: wrap;
}

.team-tile {
  margin: 10px;
  width: 278px;
}

.thumbnail {
  width: 276px;
  cursor: pointer;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.alt-thumbnail {
  width: 276px;
  height: 276px;
  cursor: pointer;
  font-size: 2em;
  border-style: solid;
  border-width: 1px;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.selected {
  border-width: 2px;
  border-color: red;
  border-style: solid;
}

